<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link href="/app.css" rel="stylesheet">
</head>
<body>
  <ul>
    <% tables.each do |table| %>
      <li><a href="/search?q=SELECT+*+FROM+<%= table %>+LIMIT+10"><%= table %></a></li>
    <% end %>
  </ul>
  <div id="main">
    <form action="/search" id="search-form">
      <textarea name="q"><%= sql %></textarea>
    </form>
    <button id="save-query">Save query</button>
    <table>
      <thead>
        <tr>
          <% results.take(1).each do |result| %>
            <% result.keys.each do |key| %>
              <th><%= key %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% results.each do |result| %>
          <tr>
            <% result.keys.each do |key| %>
              <td><%= result[key] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <script src="/app.js"></script>
</body>
